@font-face {
    font-family: 'Notable';
    src: url('Notable-Regular.woff2') format('woff2'),
        url('Notable-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

